<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #0abeeb;">
  <div class="container-fluid">
    <a class="navbar-brand">GOODVISION </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="" routerLinkActive="active-link"
            >Home</a
          >
        </li>
      
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Lentes
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown" style="background-color: #0abeeb;">
            <li>
              <a 
                class="nav-link"
                routerLink="lentes-de-sol"
                routerLinkActive="active-link"
                >Lentes de sol</a
              >
            </li>
            <li>
              <a
                class="nav-link"
                routerLink="lentes-aumento"
                routerLinkActive="active-link"
                >Lentes de contacto
              </a>
            </li>          
          </ul>
          
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="about" routerLinkActive="active-link"
            >¿Quienes somos?</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="login" routerLinkActive="active-link"
            >Inicio de sesion </a
          >
        </li>
      </ul>
     
    </div>
  </div>
</nav>
